{% extends "admin/base.html" %}

{% block content %}

<h1 class="page-title">
    📊 Dashboard
</h1>

<div class="cards">

    <div class="card">
        <div class="card-number">
            {{ users_count }}
        </div>

        <div class="card-title">
            Пользователей
        </div>
    </div>

    <div class="card">
        <div class="card-number">
            {{ products_count }}
        </div>

        <div class="card-title">
            Товаров
        </div>
    </div>

    <div class="card">
        <div class="card-number">
            {{ orders_count }}
        </div>

        <div class="card-title">
            Заказов
        </div>
    </div>

</div>

<div class="card">

    <h2 style="margin-bottom:20px;">
        Последние заказы
    </h2>

    <table class="table">

        <tr>
            <th>ID</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>

        {% for order in recent_orders %}
        <tr>

            <td>#{{ order.id }}</td>

            <td>
                {{ order.total_price }} ₽
            </td>

            <td>
                {{ order.status }}
            </td>

        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}