{% extends "admin/base.html" %}

{% block content %}

<h1 class="page-title">
    🛒 Заказы
</h1>

<div class="card">

<table class="table">

<tr>
<th>ID</th>
<th>Сумма</th>
<th>Телефон</th>
<th>Статус</th>
<th>Изменить</th>
</tr>

{% for order in orders %}

<tr>

<td>
#{{ order.id }}
</td>

<td>
{{ order.total_price }} ₽
</td>

<td>
{{ order.phone }}
</td>

<td>

{% if order.status == "pending" %}
<span class="status pending">
🟡 Новый
</span>
{% endif %}

{% if order.status == "processing" %}
<span class="status processing">
🔵 В обработке
</span>
{% endif %}

{% if order.status == "shipped" %}
<span class="status shipped">
🟣 Отправлен
</span>
{% endif %}

{% if order.status == "delivered" %}
<span class="status delivered">
🟢 Доставлен
</span>
{% endif %}

{% if order.status == "cancelled" %}
<span class="status cancelled">
🔴 Отменён
</span>
{% endif %}

</td>

<td>

<td>

<div class="status-buttons">

<form
action="/admin/orders/{{ order.id }}/status"
method="post"
>

<input
type="hidden"
name="status"
value="pending"
>

<button
class="status-btn pending-btn"
type="submit"
>
🟡
</button>

</form>

<form
action="/admin/orders/{{ order.id }}/status"
method="post"
>

<input
type="hidden"
name="status"
value="processing"
>

<button
class="status-btn processing-btn"
type="submit"
>
🔵
</button>

</form>

<form
action="/admin/orders/{{ order.id }}/status"
method="post"
>

<input
type="hidden"
name="status"
value="shipped"
>

<button
class="status-btn shipped-btn"
type="submit"
>
🟣
</button>

</form>

<form
action="/admin/orders/{{ order.id }}/status"
method="post"
>

<input
type="hidden"
name="status"
value="delivered"
>

<button
class="status-btn delivered-btn"
type="submit"
>
🟢
</button>

</form>

<form
action="/admin/orders/{{ order.id }}/status"
method="post"
>

<input
type="hidden"
name="status"
value="cancelled"
>

<button
class="status-btn cancelled-btn"
type="submit"
>
🔴
</button>

</form>

</div>

</td>

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}