{% extends "admin/base.html" %}

{% block content %}

<h1 class="page-title">
    🛒 Заказы
</h1>

<div class="card">

<table class="table">

<tr>
<th>ID</th>
<th>Сумма</th>
<th>Телефон</th>
<th>Статус</th>
<th>Изменить</th>
</tr>

{% for order in orders %}

<tr>

<td>
#{{ order.id }}
</td>

<td>
{{ order.total_price }} ₽
</td>

<td>
{{ order.phone }}
</td>

<td>

<span class="status {{ order.status }}">
{{ order.status }}
</span>

</td>

<td>

<form
action="/admin/orders/{{ order.id }}/status"
method="post"
>

<select name="status">

<option value="pending">
pending
</option>

<option value="processing">
processing
</option>

<option value="shipped">
shipped
</option>

<option value="delivered">
delivered
</option>

<option value="cancelled">
cancelled
</option>

</select>

<button
class="btn btn-gold"
>
Обновить
</button>

</form>

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}