{% extends "admin/base.html" %}

{% block content %}

<h1 class="page-title">
    ➕ Новый товар
</h1>

<div class="card">

<form
    action="/admin/products/create"
    method="post"
    enctype="multipart/form-data"
>

<div class="form-group">

    <label>
        Название
    </label>

    <input
        type="text"
        name="name"
        required
    >

</div>

<div class="form-group">

    <label>
        Описание
    </label>

    <textarea
        name="description"
        rows="5"
        required
    ></textarea>

</div>

<div class="form-group">

    <label>
        Цена
    </label>

    <input
        type="number"
        name="price"
        required
    >

</div>

<div class="form-group">

    <label>
        Категория
    </label>

    <select name="category">

        <option>
            Замки
        </option>

        <option>
            Пороги автоматические
        </option>

        <option>
            Дверные доводчики
        </option>

        <option>
            Системы открывания окон
        </option>

        <option>
            Оконные замки
        </option>

        <option>
            Дверные ручки
        </option>

        <option>
            Аксессуары
        </option>

        <option>
            Антипаника
        </option>

        <option>
            Автоматика
        </option>

        <option>
            Дверные петли
        </option>

    </select>

</div>

<div class="form-group">

    <label>
        Остаток
    </label>

    <input
        type="number"
        name="stock"
        required
    >

</div>

<div class="form-group">

    <label>
        Фото
    </label>

    <input
        type="file"
        name="image"
        required
    >

</div>

<button
    class="btn btn-green"
>
    Сохранить
</button>

</form>

</div>

{% endblock %}