{% extends "admin/base.html" %}

{% block content %}

<h1 class="page-title">
    📦 Товары
</h1>

<a
    href="/admin/products/new"
    class="btn btn-gold"
>
    ➕ Добавить товар
</a>

<br><br>

<div class="product-grid">

{% for product in products %}

<div class="product-card">

    <img
        src="{{ product.image_url }}"
        alt=""
    >

    <div class="product-body">

        <div class="product-name">
            {{ product.name }}
        </div>

        <div class="product-price">
            {{ product.price }} ₽
        </div>

        <div class="product-category">
            {{ product.category }}
        </div>

        <div class="product-category">
            Остаток:
            {{ product.stock }}
        </div>

        <div class="actions">

            <a
                href="/admin/products/{{ product.id }}/edit"
                class="btn btn-gold"
            >
                Изменить
            </a>

            <form
                action="/admin/products/{{ product.id }}/delete"
                method="post"
            >
                <button
                    class="btn btn-red"
                >
                    Удалить
                </button>
            </form>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}